body,
.wrap {
  overflow: hidden;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
}
#tweet-wall {
  width: 45%;
  float: left;
}
#irc-wall {
  width: 55%;
  float: right;
}
iframe {
  height: 100vh;
  width: 100%;
  border: none;
  overflow: hidden;
}
